.blog-cards {
    margin-top: 4rem;
}

.circles {
    margin-top: 2rem;
}

.box-title {
    font-size: 3rem;
}

.img-blog {
    height: 300px;
    width: 300px;
}

.date-blog,
.title-blog {
    word-wrap: break-word;
}