#navbar {
    padding-top: 0.5rem; /* Agrega padding arriba */
    /*padding-bottom: 3rem; /* Agrega padding abajo */
}

#navbar ul {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo-nav {
    margin-right: 20vh;
}

nav {
    height: 5rem;
    position: fixed; /* Cambiado de position: sticky a position: fixed */
    z-index: 1000; 
    background-color: #FDFCFA;
    width: 100%;
}

.signing {
    margin-left: 10vh;
}

#btn-signup {
    background-color: #FA7435;
    color: white;
    width: 150px;
}

#btn-login {
    color: #FA7435;
    width: 150px;
}

#btn-login:hover {
    background-color: #fa7436;
    color: white;
}

#btn-signup:hover {
    background-color: white;
    color: #fa7436;
    border: 1px solid #fa7436;
}

/*
.button-login{
    background-color: #fa7436;
    border: none;    
}

.button-login-u:hover{
    background-color: #fff;
    color: #FA7435;
    border: 1px solid #FA7435;

}

.button-register-u{
    background-color: #fa7436;
    border: none;    
}

.button-register-u:hover{
    background-color: #fff;
    color: #FA7435;
    border: 1px solid #FA7435;

}

.button-close-u{
    background-color: #fff;
    color: #FA7435;
    border: 1px solid #FA7435;
    
}

.button-close-u:hover{
    background-color: #fa7436;
    border: none;
}
*/ 
