.logo-nav {
    margin-right: 200px;
}

nav {
    height: 13%; 
    background-color: #FDFCFA;
}

.sign-up {
    margin-left: 150px;
}

#btn-signup {
    background-color: #FA7435;
    color: white;
    width: 155px;
}

#btn-login {
    color: #FA7435;
    width: 155px;
}