.vacation-cards {
    padding-bottom: 6vh;
}

.vacation-title {
    margin-left: 14rem;
}

.vacation-subtitle {
    font-size: 2vh;
}

.title-vacation {
    font-size: 6vh;
}

.palm-icon {
    margin-top: 1rem;
}

.cursor-icon {
    color: #FA7435;
}

.image-left {
    position: absolute;
    left: 70%;
}