body {
  background-color: #FEFCFB !important;
  font-family: "Poppins", Roboto, Inter;
}

.special-background {
  background-color: #FDFCFA !important;    
}

.py-6 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.lead-dot {
  height: 100px !important;
}

.side-dot {
  height: 50px !important;
}

.cursor-icon {
  color: #FA7435;
}

.position-relative {
  position: relative;
  width: 300px; /* Ancho de la imagen principal */
}

.overlay-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Toma el ancho completo del contenedor */
  opacity: 1; /* Opacidad de la imagen encima */
}

.brand-footer {
  font-family: 'Volkhov', serif;
}

/*
.background-image-top-right {
  top: 10px;
  width: 113px;
  height: 114px;
  right: 0;
  background-image: url('../img/palmeras.png');
  z-index: -1;
}

.background-image-bottom-left {
  bottom: 0;
  left: 2px;
  width: 480px;
  height: 361px;
  background-image: url('../img/circulos.png');
  z-index: -1;
}

.card-signup, .card-exciting {
  background-image: url('../img/Vector4857.png');
}

.card-worth {
  background-image: url('../img/Vector4856.png');
}
*/

#button-addon1 {
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #FA7436; 
  color: white;
}

.image-left {
  position: absolute;
  left: 70%;
}

/*before*/
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
